<?xml version="1.0" encoding="UTF-8"?>


<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Get Fit!</name>

    <description>
   Get Fit! A fitness application that allows you to see how many steps you have taken, distance travelled, the total calories you have burned and more!.
    </description>

    <author href="#" email="weeb1_14@uni.worc.ac.uk">
        Ben Weeks
    </author>
	<plugin name="org.apache.cordova.vibration" spec="0.3.13" source="pgb" />
	<!-- add plugins required for OAuth.io -->
	
	<!-- give access to all domains in the outside world -->

	<access origin="*"/>
	
	<icon src="icon.png"/>
	
</widget>
