<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Get Fit!</name>

    <description>
   Get Fit!
A fitness application that allows the user to see how many steps they have taken and the calories they have burned.
    </description>

    <author href="#" email="weeb1_14@uni.worc.ac.uk">
        Ben Weeks
    </author>
	
	<!-- add plugins required for OAuth.io -->
	
	<!-- give access to all domains in the outside world -->
	  <preference name="permissions"                value="none"/> 
	<access origin="*" />

	<icon src="icon.png">
</widget>
