
<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.getfit"
        version   = "1.0.0">


<!-- Name of application-->
    <name>Get Fit!</name>
<!-- Application Description-->
    <description>
   Get Fit! A fitness application. This app was created as part of the Mobile Applications Development Assignment 2 project.
    </description>
<!-- Author-->
    <author href="#" email="weeb1_14@uni.worc.ac.uk">
        Ben Weeks
    </author>
	<gap:plugin name="org.apache.cordova.vibration" spec="0.3.13" source="pgb" />
	<gap:plugin name="cordova-plugin-device-orientation" spec="1.0.1" source="pgb" />
	<gap:plugin name="org.apache.cordova.inappbrowser"/>
	

	<access origin="*"/>
	<acess origin ="https://www.facebook.com/" />
	<!-- icon for application-->
	<icon src="icon.png"/>
	
</widget>
