/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* CSS */
body {
	margin: 0 auto;
	max-width: 650px;
	background-color: #eeeeee;
	font-family: 'Lato', sans-serif;
}
li {
    display: inline-block;
    padding-top: 17px;
}
 .ul li a #goals{
	padding-top:400px;
	
}
/* style for links (bottom navigation) */
a {
	text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    width: 75px;
    font-family: 'Lato';
    color: white;
    font-size:0.9em;
	
}
/* style for bottom navigation */
nav { 
	text-align: center;
	width: 100%;
	height: 70px;
	background-color: #2ECCFA;
	position:fixed;
	bottom: 0;
    max-width: 650px;
	font-size:17px;
}

div#container {
	height: auto;
}

div#nav {
	height: 10%;
	width: 100%;
}
div#main_header {
	height: 7.5em;
	background-color: #eeeeee;
}

div#timer_position {
	font-size:40px;
	
	

}


/* Fluid Grid Setup- code inspired from http://1stwebdesigner.com/fluid-grid-layout/ */


.container1_12 {
	width: 08.33%;
}

.container2_12 {
	width: 17%;
}

.container3_12 {
	width: 25%;
}

.container4_12 {
	width: 33.33%;
}

.container5_12 {
	width: 42%;
}

.container6_12 {
	width: 50%;
}

.container7_12 {
	width: 58%;
}

.container8_12 {
	width: 67%;
}

.container9_12 {
	width: 75%;
}

.container10_12 {
	width: 83%;
}

.container11_12 {
	width: 92%;
}

.container12_12 {
	width: 100%;
}
/* End of container */
h1 {
	padding-top:40px;
	font-size: 1.5em;
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #444444;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
}

h2{
	font-size:2.5em;
	margin-bottom:10px;
	margin-top: 10px;
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 1px;
	
	
}

/* button styles code for buttons from http://www.bestcssbuttongenerator.com/ */
input[name="fitnesstracker"]{
	background: #f997b0;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f997b0), to(#f56778));
    background: -moz-linear-gradient(#f997b0, #f56778);
    background: linear-gradient(#f997b0, #f56778);
    border: solid 1px #ee8090;
    border-bottom: solid 3px #cb5462;
    box-shadow: inset 0 0 0 1px #fbc1d0;
    color: #913944;
    text-shadow: 0 1px 0 #f9a0ad;
	height: 80px;
	margin-left: 8.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1.5em;
	font-family: 'Lato';
	

}

input[name="goals"]{
	 background: #abe4f8;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#abe4f8), to(#74d0f4));
    background: -moz-linear-gradient(#abe4f8, #74d0f4);
    background: linear-gradient(#abe4f8, #74d0f4);
    border: solid 1px #8cc5d9;
    border-bottom: solid 3px #589cb6;
    box-shadow: inset 0 0 0 1px #cdeffb;
    color: #42788e;
    text-shadow: 0 1px 0 #b6e6f9;
	height: 80px;
	margin-left: 8.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1.5em;
	font-family: 'Lato';
}

input[name="me"]{
	 background: #c4e125;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c4e125), to(#88a819));
    background: -moz-linear-gradient(#c4e125, #88a819);
    background: linear-gradient(#c4e125, #88a819);
    border: solid 1px #829c15;
    border-bottom: solid 3px #819d15;
    box-shadow: inset 0 0 0 1px #c6da7b;
    color: #fff;
    text-shadow: 0 1px 0 #819d15; 
	height: 80px;
	margin-left: 8.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1.5em;
	font-family: 'Lato';
}
input[name="save2"]{
	background: #c4e125;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c4e125), to(#88a819));
    background: -moz-linear-gradient(#c4e125, #88a819);
    background: linear-gradient(#c4e125, #88a819);
    border: solid 1px #829c15;
    border-bottom: solid 3px #819d15;
    box-shadow: inset 0 0 0 1px #c6da7b;
    color: #fff;
    text-shadow: 0 1px 0 #819d15; 
	height: 50px;
	margin-left: 8.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1em;
	font-family: 'Lato';
}
input[name="remove"]{
	background: #c4e125;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c4e125), to(#88a819));
    background: -moz-linear-gradient(#c4e125, #88a819);
    background: linear-gradient(#c4e125, #88a819);
    border: solid 1px #829c15;
    border-bottom: solid 3px #819d15;
    box-shadow: inset 0 0 0 1px #c6da7b;
    color: #fff;
    text-shadow: 0 1px 0 #819d15; 
	height: 50px;
	margin-left: 8.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1em;
	font-family: 'Lato';
}
input[name="remove2"]{
	background: #c4e125;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c4e125), to(#88a819));
    background: -moz-linear-gradient(#c4e125, #88a819);
    background: linear-gradient(#c4e125, #88a819);
    border: solid 1px #829c15;
    border-bottom: solid 3px #819d15;
    box-shadow: inset 0 0 0 1px #c6da7b;
    color: #fff;
    text-shadow: 0 1px 0 #819d15; 
	height: 50px;
	margin-left: 8.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1em;
	font-family: 'Lato';
}
input[name="start_timer"]{
	background: #c4e125;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c4e125), to(#88a819));
    background: -moz-linear-gradient(#c4e125, #88a819);
    background: linear-gradient(#c4e125, #88a819);
    border: solid 1px #829c15;
    border-bottom: solid 3px #819d15;
    box-shadow: inset 0 0 0 1px #c6da7b;
    color: #fff;
    text-shadow: 0 1px 0 #819d15; 
	height: 50px;
	width:150px;
	margin-left: 30.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1em;
	font-family: 'Lato';
}
input[name="stop_timer"]{
	background: #c4e125;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c4e125), to(#88a819));
    background: -moz-linear-gradient(#c4e125, #88a819);
    background: linear-gradient(#c4e125, #88a819);
    border: solid 1px #829c15;
    border-bottom: solid 3px #819d15;
    box-shadow: inset 0 0 0 1px #c6da7b;
    color: #fff;
    text-shadow: 0 1px 0 #819d15; 
	height: 50px;
	width:150px;
	margin-left: 30.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1em;
	font-family: 'Lato';
}
input[name="reset_timer"]{
	background: #c4e125;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c4e125), to(#88a819));
    background: -moz-linear-gradient(#c4e125, #88a819);
    background: linear-gradient(#c4e125, #88a819);
    border: solid 1px #829c15;
    border-bottom: solid 3px #819d15;
    box-shadow: inset 0 0 0 1px #c6da7b;
    color: #fff;
    text-shadow: 0 1px 0 #819d15; 
	height: 50px;
	width:150px;
	margin-left:30.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1em;
	font-family: 'Lato';
	
}
/* Styles for height field box */
div#height_field{
	background-color: #eeeeee;
	margin-left: 8.33%;
	margin-right: 8.33%;
	height: 30px;
	
	
}
/* Styles for weight field box */
div#weight_field{
	background-color: #eeeeee;
	margin-left: 8.33%;
	margin-right: 8.33%;
	height: 30px;
	
}
/* Styles for steps field box */
div#steps_field{
	background-color: #eeeeee;
	margin-left: 8.33%;
	margin-right: 8.33%;
	height: 30px;
		
}
/* Styles for distance field box */
div#distance_field{
	background-color: #eeeeee;
	margin-left: 8.33%;
	margin-right: 8.33%;
	height: 30px;
		
}
/* Styles for active minutes field box */
div#active_field{
	background-color: #eeeeee;
	margin-left: 8.33%;
	margin-right: 8.33%;
	height: 30px;
		
}
/* Styles for calories field box */
div#cal_field{
	background-color: #eeeeee;
	margin-left: 8.33%;
	margin-right: 8.33%;
	height: 30px;
		
}
#red1 {
	position:fixed;
	left:130px;
}

/* Styles for input */
input[type="number"]{ 
    color: #fff;
  	background-color: #D8D8D8;
  	border: none;
    width: 100%;
    height:45px;
    text-align: center;
    padding:0;
}





