/*
CSS reset code to avoid any cross-broswer differences that may impact the application. 
ttp://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */
body {
	margin: 0 auto;
	max-width: 650px;
	background-color: #eeeeee;
	font-family: 'Lato', sans-serif;
}
li {
    display: inline-block;
    padding-top: 17px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    width: 75px;
    font-family: 'Lato';
    color: white;
    font-size:0.8em;
	
}

nav { 
	text-align: center;
	width: 100%;
	height: 60px;
	background-color: #2ECCFA;
	position:fixed;
	bottom: 0;
	border-top-style: solid;
    list-style-type: none;
    max-width: 650px;
}
a:hover { 
   font-weight: 300;
}

div#container {
	height: auto;
}

div#nav {
	height: 10%;
	width: 100%;
}
div#main_header {
	height: 15em;
	background-color: #eeeeee;
}


/* Fluid Grid Setup */

/* 1 Column of 12 */
.column1_12 {
	width: 8.33%;
}
/* 2 Columns of 12 */
.column2_12 {
	width: 16.66%;
}
/* 3 Columns of 12 */
.column3_12 {
	width: 24.99%;
}
/* 4 Columns of 12 */
.column4_12 {
	width: 33.32%;
}
/* 5 Columns of 12 */
.column5_12 {
	width: 41.65%;
}
/* 6 Columns of 12 */
.column6_12 {
	width: 49.98%;
}
/* 7 Columns of 12 */
.column7_12 {
	width: 58.31%;
}
/* 8 Columns of 12 */
.column8_12 {
	width: 66.64%;
}
/* 9 Columns of 12 */
.column9_12 {
	width: 74.97%;
}
/* 10 Columns of 12 */
.column10_12 {
	width: 83.30%;
}
/* 11 Columns of 12 */
.column11_12 {
	width: 91.63%;
}
/* 12 Columns of 12 */
.column12_12 {
	width: 100%;
}
/* Style for headers */
h1 {
	padding-top:40px;
	font-size: 3em;
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #444444;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
}

h3{
	font-size:2.5em;
	margin-bottom:15px;
	margin-top: 10px;
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 1px;
	
	
}


input[name="fitnesstracker"]{
	background: #f997b0;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f997b0), to(#f56778));
    background: -moz-linear-gradient(#f997b0, #f56778);
    background: linear-gradient(#f997b0, #f56778);
    border: solid 1px #ee8090;
    border-bottom: solid 3px #cb5462;
    box-shadow: inset 0 0 0 1px #fbc1d0;
    color: #913944;
    text-shadow: 0 1px 0 #f9a0ad;
	height: 100px;
	margin-left: 8.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1.5em;
	font-family: 'Lato';
	

}

input[name="goals"]{
	 background: #abe4f8;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#abe4f8), to(#74d0f4));
    background: -moz-linear-gradient(#abe4f8, #74d0f4);
    background: linear-gradient(#abe4f8, #74d0f4);
    border: solid 1px #8cc5d9;
    border-bottom: solid 3px #589cb6;
    box-shadow: inset 0 0 0 1px #cdeffb;
    color: #42788e;
    text-shadow: 0 1px 0 #b6e6f9;
	height: 100px;
	margin-left: 8.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1.5em;
	font-family: 'Lato';
}

input[name="me"]{
	 background: #c4e125;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c4e125), to(#88a819));
    background: -moz-linear-gradient(#c4e125, #88a819);
    background: linear-gradient(#c4e125, #88a819);
    border: solid 1px #829c15;
    border-bottom: solid 3px #819d15;
    box-shadow: inset 0 0 0 1px #c6da7b;
    color: #fff;
    text-shadow: 0 1px 0 #819d15; 
	height: 100px;
	margin-left: 8.33%;
	margin-top: 5px;
	margin-bottom:15px;
	font-size: 1.5em;
	font-family: 'Lato';
}


/* Styles for height field box */
div#height_field{
	background-color: #eeeeee;
	margin-left: 8.33%;
	margin-right: 8.33%;
	height: 30px;
	
	
}
/* Styles for wieght field box */
div#weight_field{
	background-color: #eeeeee;
	margin-left: 8.33%;
	margin-right: 8.33%;
	height: 30px;
	
}
/* Styles for input */
input[type="number"]{ 
    color: #fff;
  	background-color: #D8D8D8;
  	border: none;
    width: 100%;
    height:45px;
    text-align: center;
    padding:0;
}
/* Styles for Save Button */
div#ft_btn_save {
	background-color: #eeeeee;
	margin-left: 8.33%;
	height: 45px;
	position:relative;
	right:-75px;
}
input[type="button_save"]{ 
    color: #fff;
  	background-color: #2ECCFA;
  	border: none;
    width: 100%;
    height:45px;
    text-align: center;
    float:left;
    padding:0;

}

div#footer {
	height: 20px;
	background-color: #eeeeee;
}